Functions

In [1]:
def myfun(**kwargs):
    for key,value in kwargs.items():
        print("%s == %s" %(key,value))

myfun(first='Geeks',mid='for',last='Geeks')

first == Geeks
mid == for
last == Geeks

In [2]:
out='python'

def f1():
    s1='Hello'
    def f2():
        print(s1,out)
    f2()
f1()

Hello python

In [3]:
def cube_fun(n):
    ans=n*n*n
    return ans

print(cube_fun(5))

125

Lambda function

In [6]:
var=lambda a:a*a
print(var(6))

36

In [7]:
var1=lambda n:n*n 
var2=lambda n:n*n*n

ans=var1(2)
print(ans)
print(var2(ans))

def call_fun():
    ans=var1(2)+1
    print("From User def:",ans)
    
call_fun()

4
64
From User def: 5

In [9]:
#Program to find odd and even using lambda function

ans=lambda n:True if n%2==0 else False
ans(4)

True

In [15]:
#file1=open("new_file.txt","w")
#file1.write("Hi there am from python program")
#file1.close()

file1=open("new_file.txt","r")
print(file1.read())
file1.close()

In [17]:
list1=[1,2,3,4,5,6]

iterator_obj=iter(list1)
next(iterator_obj)
next(iterator_obj)
print(next(iterator_obj))
print(next(iterator_obj))
print(next(iterator_obj))
print(next(iterator_obj))

3
4
5
6

In [20]:
string1="python"
iter1=iter(string1)
next(iter1)

'p'

In [21]:
def gen():
    for i in range(0,20):
        if i % 2 !=0:
            yield i

def sum():
    s=0
    for val in gen():
        s=s+val
    print(s)
    
sum()

100

In [22]:
list=[10,'y',100,20]
list.index('y')

1

In [23]:
list.insert(3,35)
list

[10, 'y', 100, 35, 20]

In [24]:
list.remove(35)
list

[10, 'y', 100, 20]

In [27]:
list.reverse()
list

[20, 100, 'y', 10]

In [30]:
list=[5,8,6,9,7,1,10,3]
list.sort(reverse=True)
list

[10, 9, 8, 7, 6, 5, 3, 1]

In [31]:
list1=[[i+1] for i in range(5) if i%2==0]
list1

[[1], [3], [5]]

In [32]:
odd_list=[]
for i in range(100):
    if i% 2 !=0:
        odd_list.append(i)
print(odd_list)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [33]:
fruits=['orange','Banana','Mango','Grapes','Watermelon']
fruit_list=[i.upper() for i in fruits if i.find("a")!=-1]
print(fruit_list)

['ORANGE', 'BANANA', 'MANGO', 'GRAPES', 'WATERMELON']

In [39]:
list=[[i for i in range(32) if i%2!=0] for j in range(16)]
list

[[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31]]

In [41]:
mat=[]
for i in range(16):
    mat.append([])
    for j in range(16):
        j=2*j+1
        mat[i].append(j)
mat

[[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31]]

In [42]:
t1=(1,[2,3],(5,6))
t2=()
t1[1].append(4)
t1

(1, [2, 3, 4], (5, 6))

In [43]:
import sys
list1=[1]
tuple1=(1)
print(sys.getsizeof(list1))
print(sys.getsizeof(tuple))

64
408

In [44]:
d1={"3":1}
print(type(d1))

<class 'dict'>

In [46]:
people={"A","B","C","D","E"}
print(people)

people.add("D")
print(people)

{'C', 'B', 'A', 'E', 'D'}
{'C', 'B', 'A', 'E', 'D'}

In [47]:
people={"A","B","C","D"}
vampire={"P","I","O","H"}
dracula={"J","K","L","Z","Q"}

population=people.union(vampire)
population

{'A', 'B', 'C', 'D', 'H', 'I', 'O', 'P'}

In [48]:
set1=set()
for i in range(5):
    set1.add(i)
print(set1)

set1.clear()
print(set1)

{0, 1, 2, 3, 4}
set()

In [53]:
d={"Programming":{1:"python",2:"C",3:"C++",4:"Java"},0:"Zero value"}
print(d["Programming"][1])

python

In [54]:
d={}
for i in range(10):
    d[i]=i*i
d[10]={"numbers":{1,2,3,4,5,6,7,8}}
d.update({5:"Hi",0:"Hello"})
d

{0: 'Hello',
 1: 1,
 2: 4,
 3: 9,
 4: 16,
 5: 'Hi',
 6: 36,
 7: 49,
 8: 64,
 9: 81,
 10: {'numbers': {1, 2, 3, 4, 5, 6, 7, 8}}}

In [55]:
d={"Programming":"python",0:"Zero value","A":"B"}
j=0
for i in d:
    if j==2:
        print(i)
    j=j+1

A

In [67]:
seq={'a','b','c','d','e'}
list1=[2,3]

res_dict=dict.fromkeys(seq,list1)
print("The newly created dict with list values : ",res_dict)

list1=[2,3,4,5,6]
res_dict2 = {key:list1 for key in seq}

print("The newly crated dict with list values : ",res_dict2)

The newly created dict with list values :  {'e': [2, 3], 'c': [2, 3], 'b': [2, 3], 'd': [2, 3], 'a': [2, 3]}
The newly crated dict with list values :  {'e': [2, 3, 4, 5, 6], 'c': [2, 3, 4, 5, 6], 'b': [2, 3, 4, 5, 6], 'd': [2, 3, 4, 5, 6], 'a': [2, 3, 4, 5, 6]}