In [1]:
name=["pooja","huligemma","harish","vinaya"]
roll_no=[401,420,444,123]
mapped=zip(name,roll_no)
print(dict(mapped))

{'pooja': 401, 'huligemma': 420, 'harish': 444, 'vinaya': 123}

In [1]:
matrix=[]
for i in range(3):
    matrix.append([])
    for j in range(5):
        matrix[i].append(j)
print(matrix)

[[0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4]]

In [5]:
matrix=[]
for i in range(16):
    matrix.append([])
    for j in range(16):
        2*j+1
        matrix[i].append(j)
print(matrix)

[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]]

In [6]:
fruits=['apple','banana','orange','mango','muskmelon']
list_com=[x for x in fruits if 'a'in x]
print(list_com)

['apple', 'banana', 'orange', 'mango']

In [15]:
fruits=['apple','banana','orange','mango','muskmelon']
list_com=[]
for x in fruits:
    if 'a' in x:
        list_com.append(x)
print(list_com)

['apple', 'banana', 'orange', 'mango']

In [1]:
import sys
list_a=[1,2,3,4,5,6]
set_a=(1,"hello",3,4,5,6)
print(sys.getsizeof(list_a),"bytes")
print(sys.getsizeof(set_a),"bytes")

152 bytes
88 bytes

In [3]:
#creating a set
people={1,2,-3,4,5}
print(people)
people.add("hello")
people.add("p")
print(people)

{1, 2, 4, 5, -3}
{'p', 1, 2, 4, 5, 'hello', -3}

In [12]:
#program on set using union method

people={'arjun','pooja','roopa','omkar','anand'}
vampires={'karan','archii'}
dracula={'deepansh','raju'}

population=people.union(vampires)
print(population)

population=people|dracula
print("\n union using | operator")
print(population)

{'anand', 'archii', 'roopa', 'pooja', 'karan', 'omkar', 'arjun'}

 union using | operator
{'anand', 'roopa', 'pooja', 'deepansh', 'raju', 'omkar', 'arjun'}

In [23]:
#program on set using Intersection method

set1=set()
set2=set()
for i in range(5):
    set1.add(i)
    
for j in range(3,9):
    set2.add(j)

set3 = set1.intersection(set2)
print(set3)

set3=set1 & set2
print("Intersection using '&' operator")
print(set3)

{3, 4}
Intersection using '&' operator
{3, 4}

In [28]:
set1=set()
set2=set()
for i in range(5):
    set1.add(i)
    
for j in range(3,9):
    set2.add(j)

set3 = set1.difference(set2)
print(set3)
set3 = set2.difference(set1)
print(set3)
set3=set1 - set2
print("difference using '-' operator")
print(set3)

{0, 1, 2}
{8, 5, 6, 7}
difference using '-' operator
{0, 1, 2}

In [31]:
#clearing the set
set1={1,2,3,4,5}
print(set1)
set1.clear()
print(set1)

{1, 2, 3, 4, 5}
set()

In [19]:
D={1:"WELCOME",2:"TO",3:"PYTHON","PROGRAMMING":4}
print(D[1])#WE HAVE TO GIVEN THE KEY VALUE TO ACCESS THE VALUES FROM THE DICTIONARY
print(D.get(2)) #this is another way t0 access values from the dictionary

WELCOME
TO

In [21]:
#deleting dictionary
D={1:"WELCOME",2:"TO",3:"PYTHON",4:"programmin"}
print(D)

{1: 'WELCOME', 2: 'TO', 3: 'PYTHON', 4: 'programmin'}

TypeError: 'builtin_function_or_method' object is not subscriptable

In [16]:
d={}
for i in range(10):
    d[i]=i*i
d[10]={"numbers":{1,2,3,4,5,6,7,8,9,10}}
d.update({0:"python",1:"programming"})   #Updating dictionary
d

{0: 'python',
 1: 'programming',
 2: 4,
 3: 9,
 4: 16,
 5: 25,
 6: 36,
 7: 49,
 8: 64,
 9: 81,
 10: {'numbers': {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}}}

In [24]:
d={"progrmming":"python",0:"zero",1:"hello"}
d1={1:"hii"}
d.update(d1)#updating the values present in the dic
d

{'progrmming': 'python', 0: 'zero', 1: 'hii'}

In [25]:
#calculating total salry of employee 
salary={"akash":5000,"ajay":2000,"neeraj":1000}
list1=salary.values() #converting dictionary to list
print(sum(list1))

8000

In [33]:
#Dictionary with list values
seq={'a','b','c','d','e','f'}
list1=[2,3]
res_dic=dict.fromkeys(seq,list1)
print(res_dic)


list1=[2,3,4]
res_dic={key:list(list1) for key in seq}
print(res_dic)

{'a': [2, 3], 'b': [2, 3], 'f': [2, 3], 'e': [2, 3], 'd': [2, 3], 'c': [2, 3]}
{'a': [2, 3, 4], 'b': [2, 3, 4], 'f': [2, 3, 4], 'e': [2, 3, 4], 'd': [2, 3, 4], 'c': [2, 3, 4]}