In [1]:
import pandas as pd
data={"Roll_No":[101,102,103,104,105],
        "Student_Name":["Sanju","Geeta","Krishna","Radha","Meera"],
        "Maths":[88,99,77,66,89],
        "Science":[89,76,88,77,99],
        "Total":[177,175,165,143,188]}
df=pd.DataFrame(data)
print(df)

   Roll_No Student_Name  Maths  Science  Total
0      101        Sanju     88       89    177
1      102        Geeta     99       76    175
2      103      Krishna     77       88    165
3      104        Radha     66       77    143
4      105        Meera     89       99    188

In [31]:

print(df.loc[0])

Roll_No           101
Student_Name    Sanju
Maths              88
Science            89
Total             177
Name: 0, dtype: object

In [32]:
print(df.loc[0])
print(df.loc[1])

Roll_No           101
Student_Name    Sanju
Maths              88
Science            89
Total             177
Name: 0, dtype: object
Roll_No           102
Student_Name    Geeta
Maths              99
Science            76
Total             175
Name: 1, dtype: object

In [33]:
print(df[['Student_Name','Total']])

  Student_Name  Total
0        Sanju    177
1        Geeta    175
2      Krishna    165
3        Radha    143
4        Meera    188

In [3]:
import pandas as pd
df=pd.read_csv('std_dic.csv')
print(df.to_string())

  Student_name  Roll_no  maths  science  Total
0       vinaya      101     88       77    165
1     Abhishek      102     77       84    161
2       Harish      103     78       99    177
3    Huligemma      104     75       87    162
4      Supriya      105     76       78    154